spring:
  application:
    name: cart-service
  config:
    import: optional:configserver:http://localhost:8888
  cloud:
    config:
      fail-fast: false
  data:
    redis:
      host: localhost
      port: 6379

server:
  port: 8087

logging:
  level:
    root: INFO
    com.ecom: DEBUG

